<div class="container">
  <h1>All Courses</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(course => { %>
      <tr>
        <td><a href="/attendance/course-id/<%= course._id %>"><%= course.name %></a></td>
        <td><%= course.code %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
